/*
    objects: flexboxgrid
    ---
*/

.o-flexgrid {
    display: block;

    @include mq(bp3) {
        display: flex;
    }

    &__col {
        width: 100%;

        @include mq(bp3) {
            margin-bottom: 0;
            flex-direction: column;

            &:first-child {
                margin-left: 0;
            }
        }
    }

}
