<section class="c-row c-row--alpha c-row-footer u-bgcolor-neutral-x-light" id="contact">
    <div class="o-container o-container--sm">
        <div>
            <p class="u-text-center">
                <a href="mailto:dries.standaert@gmail.com" class="c-link">dries.standaert@gmail.com</a>
            </p>
            <ul class="o-list c-social__list u-text-center">
                <li class="o-list__item c-social__list-item">
                    <a href="http://twitter.com/driesstandaert" target="_blank" class="c-social__link c-social__link--twitter">Twitter</a>
                </li>
                <li class="o-list__item c-social__list-item">
                    <a href="https://www.linkedin.com/in/dries-standaert-67635383/" target="_blank"class="c-social__link c-social__link--linkedin">LinkedIn</a>
                </li>
                <li class="o-list__item c-social__list-item">
                    <a href="https://dribbble.com/driesstandaert" target="_blank"class="c-social__link c-social__link--dribbble">dribbble</a>
                </li>
                <li class="o-list__item c-social__list-item">
                    <a href="http://codepen.io/driesstandaert/" target="_blank"class="c-social__link c-social__link--codepen">Codepen</a>
                </li>
                <li class="o-list__item c-social__list-item">
                    <a href="/img/pdf/driesstandaert-cv.pdf" target="_blank" class="c-social__link c-social__link--cv">cv</a>
                </li>
            </ul>
        </div>
    </div>
</section>
